form{
background-color: floralwhite;
width: 50%;
margin: 0 auto;
padding: 30px;
border-radius: 20px;
box-shadow: 8px 8px 12px grey;

}

h1{
text-align: center;
font-size: 50px;
text-shadow: 8px 8px 12px gray;

}

label{
font-size: 18px;
font-family: sans-serif;

}

input[type=text],input[type=email],input[type=password],input[type=tel],input[type=date],input[type=datetime-local],input[select]{

width: 100%;
height: 30px;
border-radius: 10px;
border: none;
margin-top: 10px;
box-shadow: 0 0 12px grey;
padding-left: 10px;


}

button{
background-color: gray;
padding: 10px;
border-radius: 10px;
align-items: center;
display: block;
margin: auto;
}

body{
background-image: url("../assets/image.png");
background-repeat: no-repeat;
background-size: cover;


}






