h1{
text-align: center;
color: brown;
font-size: 40px;
}


#shipping{
text-decoration: underline;
color: brown;

}

.paragraph{
font-weight: bold;
font-style: italic;

}

#benefits{
    background-color: bisque;
margin: 40px;
padding: 30px;
border-radius: 10px;
color: black;
}

#benefits h3{
text-align: center;
font-size: 40px;
}

#benefits:hover{
    background-color: brown;
}

#vip{
display: flex;
margin: 40px;
gap: 20px;
}

#main{
display: flex;

}

.service{
background-color: rgb(128, 128, 128);
margin-right: 20px;
padding: 20px;
border-radius: 10px;

}



